{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block content %}
    {{ dump(questions) }}
    <div style="margin-top: 100px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">Дайте верный перевод слову
                    «{% if question.lang == 'en' %}{{ question.question.en }}{% else %}{{ question.question.ru }}{% endif %}
                    » <span class="pull-right">Вопрос 1 / {{ questions|length }}</span></p>
            </div>
            <div class="panel-body">
                <form>
                    {% for answer in question.answers %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="" id="" value="{{ answer.id }}">
                                {% if question.lang == 'en' %}
                                    {{ answer.ru }}
                                {% else %}
                                    {{ answer.en }}
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
        <button type="button" class="btn btn-default">Далее</button>
    </div>
{% endblock %}